<div class="row">
    <div class="col-md-12">
        <select class="form-control"  ng-model="selectedChatRoom" ng-options="chatRoom.name for chatRoom in chatRooms"></select>
        <button class="btn btn-primary" ng-click="selectChatRoom(selectedChatRoom)" >Select chat room</button>
    </div>
    <div class="col-md-12">
        <input type="text" class="form-control" ng-model="chatRoom.name" placeholder="Enter chat room name"/>
        <button class="btn btn-primary" ng-click="createChatRoom(chatRoom)">Create new chat room</button>
    </div>
</div>